<% content_for(:title, "Project | Personal Portfolio") %>

<h1>Projects:</h1>

<ul>
  <% @projects.each do |project| %>
    <li><%= link_to project.name, project_path(project) %></li>
  <% end %>
</ul>

<p><%= link_to 'Add a Project', new_project_path %></p>
